.clearfix{
	clear: both;
}
.wrap{
	min-width: 320px;
	max-width: 1025px;
	margin: 0 auto ;
	font-family: 微軟正黑體;
}
.header{
	width: 100% ;
	height: auto;
	background-image: url(../images/img-headerShape.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #F9F9F9 ;
	padding:125px 0 30px 0 ;
	@include mobile680{
		padding: 50px 0 20px 0;
		background-image: url(../images/img-headerShape680.png);
	}
	.personal-picture{
		width: 20%;
		height: auto;
		float: left;
		margin: 0 0 0 135px;
		@include mobile680(){
			width: 60%;
			float: none;
			margin: 0 auto ;
		}
		h1,span{
			text-align: center;
		}
		img{
			width: 151px;
			height: 151px;
			border-radius: 75px;
			display: block;
			margin: 0 auto 11px auto;
		}
		h1{
			font-size: 42px;

		}
		span{
			font-size: 14px;
			color: #4A4A4A;
			display: block;
			margin: 8px 0 0 0 ;
		}
	}
	.personal-information{
		width: 40%;
		height: auto;
		margin: 0 0 0 80px;
		float: left;
		color: #fff;
		@include mobile680(){
			width: 50%;
			float: none;
			margin: 10px auto ;
		}
		@include mobile500(){
			width: 80%;
		}
		li{
			margin: 0 0 20px 0 ;
		}
		img{
			vertical-align: middle;
			margin: 0 20px 0 0 ;
		}
	}
}
.content{
	height: auto;
	padding: 136px 0 0 0 ;
	background-color: #F9F9F9 ;
	h3{
		font-size: 24px;
		color: #1736DC;
		text-align: center;
		margin: 0px 0 48px 0;
	}
	.web-skill{
		ul{
			width: 85%;
			height: auto;
			margin: 0 auto;
			@include pad(){
				width: 60%;
			}
			@include mobile500(){
				width: 80%;
			}
		}
		.skill-3{
			>li{
			width: 31.1%;
			height: 276px;
			padding: 25px 0 0 0;
			float: left;
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 0 1px 1px 0 gray;
			@include pad(){
				width: 100%;
				float: none;
				}
			}
			>li:nth-child(-n+2){
				margin: 0 3% 0 0 ;
				@include pad(){
					margin: 0 0 30px 0;
				}
			}
			>li:nth-child(1){
				border-bottom:6px solid  #F58D23; 
			}
			>li:nth-child(2){
				border-bottom:6px solid  #539E43;
			}
			>li:nth-child(3){
				border-bottom:6px solid  #6762A6;
			}
			img{
				display: block;
				margin: 0 auto ;
			}
		}
		.skill-item{
			color: #4A4A4A ;
			span{
				display: block;
				font-size: 18px;
				text-align: center;
				margin: 25px;
			}
			ul{
				width: 60%;
			}
			li{
				margin:0 0 10px 0 ;
				font-size: 14px;
				list-style: initial;
				
			}
		}
	}
	.experience{
		margin: 58px 0 0 0 ;
		padding: 0 0 10px 0 ;
		position: relative;
		height: auto;
		
		.time-line::before{
			content: "";
			position: absolute;
			top:90px;
			left: 50%;
			height:580px;
			width: 4px ;
			background:#D8D8D8;
			@include mobile680(){
				left: 15% ;
			}
			@include mobile400(){
				left: 15.7%;
				}
		}
		.time-line{
			padding: 120px 20% 0 20%;
			@include desktop-M(){
				padding: 120px 16% 0 16%;
			}
			@include pad(){
				padding: 120px 10% 0 10% ;
			}
			@include mobile680(){
				padding: 120px 0 0 0 ;
			}
			>img{
				position:absolute;
				top:85px;
				left:48.6%;
				@include pad(){
					left: 48.1%;
				}
				@include mobile680(){
					left: 12.8%;
				}
				@include mobile500(){
					left: 11.8%;
					}
			}
			.bottom-line{
				position: absolute;
				bottom: -60px;
				left: 48%;
				width: 4.5%;
				height: 4px;
				background: #D8D8D8;
				@include mobile680(){
					left: 13%;
				}
				@include mobile400(){
					width: 6%;
				}
			}
		}
		.timeline-block{
			position: relative;
			margin: 0 0 7px 0;
			.timeline-img{
				img{
					position: absolute;
					left: 48.5%;
					@include desktop-M(){
						left: 48.3%;
					}
					@include mobile680(){
					left: 13.5%;
					}
					@include mobile500(){
					left: 12.6%;
					}
				}
			}
			.timeline-content{
				width: 40%;
				border: 1px solid #FB56BF ;
				border-radius: 10px;
				@include mobile500(){
					width: 55%;
				}
				@include mobile400(){
					width: 60%;
				}
			}
			.right-content{
				padding: 8px 9px 12px 12px;
				float: right;
				@include mobile680(){
					float: none;
					margin: 0 0 0 25%; 
				}
			}
			.left-content{
				padding: 8px 12px 12px 11px ;
				@include mobile680(){
					margin: 0 0 0 25%;
				}
				span{
					text-align: right;
					@include mobile680(){
						text-align: left;
					}
				}
				p{
					text-align: right;
					@include mobile680(){
						text-align: left;
					}
				}
			}
			span{
				display: block;
				font-size: 12px;
				margin: 0 0 12px 0;
			}
			span:nth-child(1){
				color:#4A4A4A;
				font-weight: bold;
			}
			span:nth-child(2){
				color:#8A1737;
			}
			span:nth-child(3){
				color:#4A4A4A;
			}
			p{
				font-size: 12px;
				color:#9B9B9B; 
				line-height: 18px ;
			}
		}
	}
	.work{
		height: auto;
		margin: 120px 0 0 0;
		padding: 0 10% 0 10%;
		@include desktop-M(){
			padding:0  4% 0 4%  ;
		}
		h3{
			margin:0 0 48px 10px;
			color:#FB56BF;
		}
		ul{
			width: 100%;
			height: auto;
			@include pad(){
				width: 50%;
				float: none;
				margin: 0 auto;
			}
			@include mobile500(){
				width: 75%;
			}
		}
		
		.work-3{
			li{
			width: 31.1111%;
			height: 213px;
			float: left;
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 0 1px 1px 0 gray;
			@include desktop-M(){
				width: 32.1111%;	
			}
			@include pad(){
				height: 230px;
				width: 100%;
				float: none;
				padding:0 0  10px 0;
			}
				.work-img{
					width: 100%;
					-webkit-transform: scale(1);
					height: 150px;
				}
				.pic{
					overflow: hidden;
					img:hover{
						-webkit-transition: 1s;
						-webkit-transform: scale(1.6);
					}
				}
				
				span{
					display: block;
					font-size: 14px;
					margin: 0 0 0 8px;
					
				}
				span:nth-child(2){
					margin: 9px 0 7px 8px;
					color: #000;
					@include pad(){
						margin: 20px 0 10px 8px ;
					}
				}
				span:nth-child(3){
					color: #4A4A4A;
				}

			}
			li:nth-child(-n+2){
				margin: 0 3% 0 0 ;
				@include desktop-M(){
					margin: 0 1.5% 0 0 ;
				}
				@include pad(){
					margin: 0 0 30px 0 ;
				}
			}
		}
	}
	.about-me{
		margin: 56px 0 0 0;
		padding: 0 12% 74px 12% ;
		@include desktop-M(){
			padding:0 8% 74px 8% ;
		}
		@include mobile680(){
			padding: 0 0 30px 0 ;
		}
		h3{
			color: #FB56BF;
		}
		.slideshow{
			position: relative;
			width: 40%;
			height: 380px;
			float: left;
			@include pad(){
				width: 45%;
				float: none;
				margin: 0 auto ;
			}
			@include mobile500(){
				width: 70%;
			}
				img{
					height: 380px;
					display: none;
					position: absolute;
					box-shadow: 2px 1px 5px gray;
				}
		}
		.about-text{
			width: 55%;
			float: right;
			@include pad(){
				width: 70%;
				float: none;
				margin: 80px auto 0  auto;
			}
			@include mobile680(){
				margin: 0 auto ;
			}
			p{
			display: block;
			padding: 20px 0 0 0;
			font-size: 16px;
			color: #4A4A4A ;
			line-height: 26px;
			text-indent: 30px;
			}
			span{
				display: block;
				margin: 30px 0 0 0; 
			}
		}
		
	}
}
.footer{
	height: 87px;
	background-image: url(../images/img-Looper-bg.png);
	background-repeat: no-repeat;
	span{
		width: 300px;
		font-size: 16px;
		display: block;
		margin: 0 auto;
		line-height: 87px;
	}
}